* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  text-align: center;
  color: #2c3e50;
}

.container {
  background: #ffffff;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

/* Input & Buttons */
input[type="text"] {
  width: 80%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: #b30e8fe0;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #d219c9d0;
}

/* Quiz page */
#qno {
  font-weight: bold;
  color: #555;
}

#time {
  color: red;
  font-weight: bold;
}

#progress {
  width: 100%;
  height: 15px;
  background: #ddd;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background: #4caf50;
  transition: width 0.3s ease;
}

#quiz-box {
  margin-top: 10px;
}

#question {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

label {
  display: block;
  background: #f5f5f5;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

label:hover {
  background: #e0f2f1;
}

input[type="radio"] {
  margin-right: 8px;
}

#result {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
}

#restart-btn {
  background: #4caf50;
}

#restart-btn:hover {
  background: #388e3c;
}

/* Quiz select page */
#quiz-select p {
  font-size: 16px;
  margin: 10px 0;
}

/* Mobile responsive */
@media (max-width: 500px) {
  .container {
    width: 90%;
  }

  input[type="text"], button {
    width: 100%;
  }
}
